/* Your app custom files in this file */

/* 红色消息气泡 */
span.bg-red {
  color: #FFFFFF;
  background-color: #ff484a;
}

/* Tab bar icons */
i.tabbar-index-icon-home {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='-4 -4 40 40' enable-background='new -4 -4 40 40' xml:space='preserve'><g>	<g>		<path fill='#8E8E8E' d='M28.7,33.5H3.3v-14H0.7V36h30.5V19.5h-2.5V33.5z M16-4L-4,17.3l1.9,1.7L16-0.3l18.1,19.4l1.9-1.7L16-4z			 M21.1,30.9V19.5H10.9v11.4h2.5V22h5.1v8.9H21.1z'/>	</g></g></svg>");
}
.active i.tabbar-index-icon-home {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='-4 -4 40 40' enable-background='new -4 -4 40 40' xml:space='preserve'><g>	<g>		<path fill='#FF484A' d='M28.7,33.5H3.3v-14H0.7V36h30.5V19.5h-2.5V33.5z M16-4L-4,17.3l1.9,1.7L16-0.3l18.1,19.4l1.9-1.7L16-4z			 M21.1,30.9V19.5H10.9v11.4h2.5V22h5.1v8.9H21.1z'/>	</g></g></svg>");
}
i.tabbar-index-icon-market {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'><g>	<g>		<path fill='#82879B' d='M38.8,17.6H21.2V1H20C9.5,1,1,9.5,1,20C1,30.5,9.5,39,20,39c10.4,0,18.9-8.5,18.9-19c0-0.4,0-0.7,0-1.1			L38.8,17.6z M18.8,3.4V17L9.8,7C12.3,5,15.3,3.7,18.8,3.4z M20,36.6c-9.1,0-16.6-7.5-16.6-16.6c0-4.4,1.7-8.5,4.6-11.5L18.8,20			h17.8C36.6,29.2,29.1,36.6,20,36.6z M38.9,14C38.5,6.3,31.1,1,24.7,1h-1.1v14.2H39L38.9,14z M25.9,12.9V3.5			c4.7,0.5,9.5,4.2,10.5,9.4H25.9z'/>	</g></g></svg>");
}
.active i.tabbar-index-icon-market {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'><g>	<g>		<path fill='#000050' d='M38.8,17.6H21.2V1H20C9.5,1,1,9.5,1,20C1,30.5,9.5,39,20,39c10.4,0,18.9-8.5,18.9-19c0-0.4,0-0.7,0-1.1			L38.8,17.6z M18.8,3.4V17L9.8,7C12.3,5,15.3,3.7,18.8,3.4z M20,36.6c-9.1,0-16.6-7.5-16.6-16.6c0-4.4,1.7-8.5,4.6-11.5L18.8,20			h17.8C36.6,29.2,29.1,36.6,20,36.6z M38.9,14C38.5,6.3,31.1,1,24.7,1h-1.1v14.2H39L38.9,14z M25.9,12.9V3.5			c4.7,0.5,9.5,4.2,10.5,9.4H25.9z'/>	</g></g></svg>");
}
i.tabbar-index-icon-mine {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'><path fill='#82879B' d='M38.4,33.4c0-0.1,0-0.2,0-0.3c0-3.5-4.9-7.6-12.1-9.2c1.5-1.7,2.6-4,2.6-6.6v-6.9C28.9,5.1,25.1,1,20,1	c-5.1,0-8.9,4.1-8.9,9.5v6.9c0,2.7,0.7,5.1,2.3,6.8c-6.1,1.6-11.7,5-11.7,8.9c0,0.1-0.1,0.2-0.1,0.3C1.6,34,1.4,35.4,3,36.2	C6.3,38,12.7,39,20,39c7.3,0,13.7-1,17-2.8C38.6,35.4,38.4,34,38.4,33.4z M13.5,17.5v-6.9c0-4.1,2.8-7.1,6.5-7.1	c3.7,0,6.5,3.1,6.5,7.1v6.9c0,4.1-2.8,7.1-6.5,7.1C16.3,24.6,13.5,21.5,13.5,17.5z M35.9,34.1c-3,1.5-9.1,2.5-15.9,2.5	c-6.9,0-13-1-15.9-2.5C4,34,3.9,34,3.9,34c0-0.1,0-0.2,0-0.3c0-0.2,0-0.3,0-0.5c0-2.1,4.7-5.9,11.7-7.1c1.1,0.5,2.4,0.8,3.8,0.8	c1.5,0,2.8-0.3,4-1c7.4,1,12.5,5,12.5,7.2c0,0.2,0,0.3,0,0.5c0,0.1,0,0.3,0,0.3C36,34,36,34,35.9,34.1z'/></svg>");
}
.active i.tabbar-index-icon-mine {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'><path fill='#000050' d='M38.4,33.4c0-0.1,0-0.2,0-0.3c0-3.5-4.9-7.6-12.1-9.2c1.5-1.7,2.6-4,2.6-6.6v-6.9C28.9,5.1,25.1,1,20,1	c-5.1,0-8.9,4.1-8.9,9.5v6.9c0,2.7,0.7,5.1,2.3,6.8c-6.1,1.6-11.7,5-11.7,8.9c0,0.1-0.1,0.2-0.1,0.3C1.6,34,1.4,35.4,3,36.2	C6.3,38,12.7,39,20,39c7.3,0,13.7-1,17-2.8C38.6,35.4,38.4,34,38.4,33.4z M13.5,17.5v-6.9c0-4.1,2.8-7.1,6.5-7.1	c3.7,0,6.5,3.1,6.5,7.1v6.9c0,4.1-2.8,7.1-6.5,7.1C16.3,24.6,13.5,21.5,13.5,17.5z M35.9,34.1c-3,1.5-9.1,2.5-15.9,2.5	c-6.9,0-13-1-15.9-2.5C4,34,3.9,34,3.9,34c0-0.1,0-0.2,0-0.3c0-0.2,0-0.3,0-0.5c0-2.1,4.7-5.9,11.7-7.1c1.1,0.5,2.4,0.8,3.8,0.8	c1.5,0,2.8-0.3,4-1c7.4,1,12.5,5,12.5,7.2c0,0.2,0,0.3,0,0.5c0,0.1,0,0.3,0,0.3C36,34,36,34,35.9,34.1z'/></svg>");
}
i.tabbar-index-icon-circel {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='-4 -4 40 40' enable-background='new -4 -4 40 40' xml:space='preserve'><g>	<path fill='#8E8E8E' d='M16,36C5,36-4,27-4,16C-4,5,5-4,16-4c11,0,20,9,20,20C36,27,27,36,16,36z M16-1.5C6.3-1.5-1.5,6.3-1.5,16		c0,9.7,7.8,17.5,17.5,17.5c9.7,0,17.5-7.8,17.5-17.5C33.5,6.3,25.7-1.5,16-1.5z'/>	<path fill='#8E8E8E' d='M23.5,23.5h-15v-10H11V21h12.5V23.5z'/>	<path fill='#8E8E8E' d='M23.5,18.5H21V11H8.5V8.5h15V18.5z'/></g></svg>");
}
.active i.tabbar-index-icon-circel {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='-4 -4 40 40' enable-background='new -4 -4 40 40' xml:space='preserve'><g>	<path fill='#FF484A' d='M16,36C5,36-4,27-4,16C-4,5,5-4,16-4c11,0,20,9,20,20C36,27,27,36,16,36z M16-1.5C6.3-1.5-1.5,6.3-1.5,16		c0,9.7,7.8,17.5,17.5,17.5c9.7,0,17.5-7.8,17.5-17.5C33.5,6.3,25.7-1.5,16-1.5z'/>	<path fill='#FF484A' d='M23.5,23.5h-15v-10H11V21h12.5V23.5z'/>	<path fill='#FF484A' d='M23.5,18.5H21V11H8.5V8.5h15V18.5z'/></g></svg>");
}
i.tabbar-index-icon-more {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'><g>	<g>		<path fill='#82879B' d='M15.3,1H4.6C2.6,1,1,2.6,1,4.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V4.6			C18.8,2.6,17.2,1,15.3,1z M16.4,15.3c0,0.7-0.5,1.2-1.2,1.2H4.6c-0.7,0-1.2-0.5-1.2-1.2V4.6c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V15.3z M35.4,1H24.7c-2,0-3.6,1.6-3.6,3.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V4.6			C39,2.6,37.4,1,35.4,1z M36.6,15.3c0,0.7-0.5,1.2-1.2,1.2H24.7c-0.7,0-1.2-0.5-1.2-1.2V4.6c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V15.3z M15.3,21.2H4.6c-2,0-3.6,1.6-3.6,3.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V24.7			C18.8,22.8,17.2,21.2,15.3,21.2z M16.4,35.4c0,0.7-0.5,1.2-1.2,1.2H4.6c-0.7,0-1.2-0.5-1.2-1.2V24.7c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V35.4z M35.4,21.2H24.7c-2,0-3.6,1.6-3.6,3.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V24.7			C39,22.8,37.4,21.2,35.4,21.2z M36.6,35.4c0,0.7-0.5,1.2-1.2,1.2H24.7c-0.7,0-1.2-0.5-1.2-1.2V24.7c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V35.4z'/>	</g></g></svg>");
}
.active i.tabbar-index-icon-more {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'><g>	<g>		<path fill='#000050' d='M15.3,1H4.6C2.6,1,1,2.6,1,4.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V4.6			C18.8,2.6,17.2,1,15.3,1z M16.4,15.3c0,0.7-0.5,1.2-1.2,1.2H4.6c-0.7,0-1.2-0.5-1.2-1.2V4.6c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V15.3z M35.4,1H24.7c-2,0-3.6,1.6-3.6,3.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V4.6			C39,2.6,37.4,1,35.4,1z M36.6,15.3c0,0.7-0.5,1.2-1.2,1.2H24.7c-0.7,0-1.2-0.5-1.2-1.2V4.6c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V15.3z M15.3,21.2H4.6c-2,0-3.6,1.6-3.6,3.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V24.7			C18.8,22.8,17.2,21.2,15.3,21.2z M16.4,35.4c0,0.7-0.5,1.2-1.2,1.2H4.6c-0.7,0-1.2-0.5-1.2-1.2V24.7c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V35.4z M35.4,21.2H24.7c-2,0-3.6,1.6-3.6,3.6v10.7c0,2,1.6,3.6,3.6,3.6h10.7c2,0,3.6-1.6,3.6-3.6V24.7			C39,22.8,37.4,21.2,35.4,21.2z M36.6,35.4c0,0.7-0.5,1.2-1.2,1.2H24.7c-0.7,0-1.2-0.5-1.2-1.2V24.7c0-0.7,0.5-1.2,1.2-1.2h10.7			c0.7,0,1.2,0.5,1.2,1.2V35.4z'/>	</g></g></svg>");
}

.card-header {
  display: block;
  padding: 10px;
}

.ks-facebook-card .ks-facebook-avatar {
  float: left;
}
.ks-facebook-card .ks-facebook-name {
   margin-left: 44px;
   font-size: 14px;
   font-weight: 500;
 }
.ks-facebook-card .ks-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}

div[class*="col-"] {
  /*background: #fff;*/
  text-align: center;

  /*color: #000;*/
  /*border: 1px solid #ddd;*/
  /*padding: 5px;*/
}
.col-header {
  color:#292929;
  font-size:13px;
}
.col-header .red {
  color: #D6373B;
  /*font-size:100px;*/
}
.col-header-description {
  color:#999999;
  font-size:12px;
}

.text-right {text-align: right}
.text-left {text-align: left}

/* 产品相关 */
.production-tag{position:absolute;right:10px;top:0px;width:30px;height:20px;line-height: 20px;text-align: center;background:#EB454F;border-bottom-left-radius:3px;border-bottom-right-radius:3px;color:#fff;display: inline-block;
  font-size: 10px;;}

.production-detail-v{background-color: #070853;color: #ffffff; font-size: 15px;padding: 15px;}
.production-detail-d{background-color: #070853;color: #ffffff; font-size: 12px;padding: 15px;}
.production-detail-content{margin:20px}


.production-type1 {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 55 50' enable-background='new 0 0 55 50' xml:space='preserve'><g>	<rect x='0.3' y='44.5' fill='#CD0005' width='54.3' height='3'/>	<path fill='#CD0005' d='M48.6,2.5H6.4c-3.3,0-6.1,2.7-6.1,6.1v26.3c0,3.3,2.7,6.1,6.1,6.1h42.2c3.3,0,6.1-2.7,6.1-6.1V8.6		C54.7,5.2,51.9,2.5,48.6,2.5z'/>	<path fill='#FFFFFF' d='M46.3,17.7l-2.7-6.3c-0.3-0.7-1.1-1.1-1.9-0.8c-0.1,0-0.2,0-0.3,0.1l-6.3,2.7c-0.8,0.3-1.1,1.2-0.8,2		c0.2,0.4,0.5,0.7,0.8,0.8c0.4,0.1,0.8,0.2,1.2,0l3.1-1.3l0,0l-4.1,10.3l-3.5-3.3c-0.6-0.6-1.5-0.5-2.1,0L24.3,27l-4.1-5.9		c-0.3-0.4-0.8-0.7-1.3-0.6c-0.5,0-1,0.3-1.2,0.7L11,31.8c-0.4,0.7-0.2,1.6,0.5,2.1c0.3,0.2,0.5,0.2,0.8,0.2c0.5,0,1-0.3,1.3-0.7		l5.5-8.7l3.8,5.4c0.3,0.4,0.7,0.6,1.1,0.6c0.4,0,0.9-0.1,1.2-0.4l5.6-5.4l4.1,3.8c0.4,0.3,0.9,0.5,1.4,0.4c0.5-0.1,0.9-0.5,1.1-0.9		l4.9-12.3l1.3,2.9c0.2,0.4,0.5,0.7,0.8,0.8c0.4,0.1,0.8,0.2,1.2,0C46.2,19.3,46.6,18.4,46.3,17.7z'/></g></svg>");
}

.production-type-link {
  text-align: center;
}

/*私募*/
.production-type-icon-1 {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  /*background: url("../img/production-type-icon-1.png") no-repeat;*/
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 55 50' enable-background='new 0 0 55 50' xml:space='preserve'><g>	<rect x='0.3' y='44.5' fill='#CD0005' width='54.3' height='3'/>	<path fill='#CD0005' d='M48.6,2.5H6.4c-3.3,0-6.1,2.7-6.1,6.1v26.3c0,3.3,2.7,6.1,6.1,6.1h42.2c3.3,0,6.1-2.7,6.1-6.1V8.6		C54.7,5.2,51.9,2.5,48.6,2.5z'/>	<path fill='#FFFFFF' d='M46.3,17.7l-2.7-6.3c-0.3-0.7-1.1-1.1-1.9-0.8c-0.1,0-0.2,0-0.3,0.1l-6.3,2.7c-0.8,0.3-1.1,1.2-0.8,2		c0.2,0.4,0.5,0.7,0.8,0.8c0.4,0.1,0.8,0.2,1.2,0l3.1-1.3l0,0l-4.1,10.3l-3.5-3.3c-0.6-0.6-1.5-0.5-2.1,0L24.3,27l-4.1-5.9		c-0.3-0.4-0.8-0.7-1.3-0.6c-0.5,0-1,0.3-1.2,0.7L11,31.8c-0.4,0.7-0.2,1.6,0.5,2.1c0.3,0.2,0.5,0.2,0.8,0.2c0.5,0,1-0.3,1.3-0.7		l5.5-8.7l3.8,5.4c0.3,0.4,0.7,0.6,1.1,0.6c0.4,0,0.9-0.1,1.2-0.4l5.6-5.4l4.1,3.8c0.4,0.3,0.9,0.5,1.4,0.4c0.5-0.1,0.9-0.5,1.1-0.9		l4.9-12.3l1.3,2.9c0.2,0.4,0.5,0.7,0.8,0.8c0.4,0.1,0.8,0.2,1.2,0C46.2,19.3,46.6,18.4,46.3,17.7z'/></g></svg>");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*公募*/
.production-type-icon-2 {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  /*background: url("../img/production-type-icon-1.png") no-repeat;*/
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'><g>	<path fill='#CD0005' d='M38,48H6c-3.3,0-6-2.7-6-6V19c0-3.3,2.7-6,6-6h32c3.3,0,6,2.7,6,6v23C44,45.3,41.3,48,38,48z'/>	<path fill='#FFFFFF' d='M46.5,23H28c-3.3,0-6,2.7-6,6v3c0,3.3,2.7,6,6,6h18.5c0.8,0,1.5-0.7,1.5-1.5v-12C48,23.7,47.3,23,46.5,23		L46.5,23z'/>	<path fill='#CD0005' d='M45,26v9H28c-1.7,0-3-1.3-3-3v-3c0-1.7,1.3-3,3-3H45'/>	<circle fill='#FFFFFF' cx='29.8' cy='30.5' r='1.8'/>	<polygon fill='#CD0005' points='17,10 29.9,4 32.7,10 36,10 31.4,0 9.9,10 	'/></g></svg>");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*理财*/
.production-type-icon-3 {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  /*background: url("../img/production-type-icon-1.png") no-repeat;*/
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'><g>	<circle fill='#CD0005' cx='24' cy='24' r='24'/>	<g>		<path fill='#FFFFFF' d='M24,5c10.5,0,19,8.5,19,19s-8.5,19-19,19S5,34.5,5,24S13.5,5,24,5 M24,3C12.4,3,3,12.4,3,24			c0,11.6,9.4,21,21,21c11.6,0,21-9.4,21-21C45,12.4,35.6,3,24,3L24,3z'/>	</g>	<path fill='#FFFFFF' d='M24,9L24,9c-0.8,0-1.5-0.7-1.5-1.5v-3C22.5,3.7,23.2,3,24,3h0c0.8,0,1.5,0.7,1.5,1.5v3		C25.5,8.3,24.8,9,24,9z'/>	<path fill='#FFFFFF' d='M24,45L24,45c-0.8,0-1.5-0.7-1.5-1.5v-3c0-0.8,0.7-1.5,1.5-1.5h0c0.8,0,1.5,0.7,1.5,1.5v3		C25.5,44.3,24.8,45,24,45z'/>	<path fill='#FFFFFF' d='M39,24L39,24c0-0.8,0.7-1.5,1.5-1.5h3c0.8,0,1.5,0.7,1.5,1.5v0c0,0.8-0.7,1.5-1.5,1.5h-3		C39.7,25.5,39,24.8,39,24z'/>	<path fill='#FFFFFF' d='M3,24L3,24c0-0.8,0.7-1.5,1.5-1.5h3C8.3,22.5,9,23.2,9,24v0c0,0.8-0.7,1.5-1.5,1.5h-3C3.7,25.5,3,24.8,3,24		z'/>	<g>		<g>			<path fill='#FFFFFF' d='M30.5,22.9h-13c-0.8,0-1.5-0.7-1.5-1.5v0c0-0.8,0.7-1.5,1.5-1.5h13c0.8,0,1.5,0.7,1.5,1.5v0				C32,22.2,31.3,22.9,30.5,22.9z'/>			<path fill='#FFFFFF' d='M30.5,28.9h-13c-0.8,0-1.5-0.7-1.5-1.5v0c0-0.8,0.7-1.5,1.5-1.5h13c0.8,0,1.5,0.7,1.5,1.5v0				C32,28.2,31.3,28.9,30.5,28.9z'/>			<path fill='#FFFFFF' d='M22.5,33V22c0-0.8,0.7-1.5,1.5-1.5h0c0.8,0,1.5,0.7,1.5,1.5v11c0,0.8-0.7,1.5-1.5,1.5h0				C23.2,34.5,22.5,33.8,22.5,33z'/>			<path fill='#FFFFFF' d='M22.9,22.4l-6.4-6.4c-0.6-0.6-0.6-1.5,0-2.1l0,0c0.6-0.6,1.5-0.6,2.1,0l6.4,6.4c0.6,0.6,0.6,1.5,0,2.1				l0,0C24.5,23,23.5,23,22.9,22.4z'/>			<path fill='#FFFFFF' d='M25.1,22.4l6.4-6.4c0.6-0.6,0.6-1.5,0-2.1l0,0c-0.6-0.6-1.5-0.6-2.1,0l-6.4,6.4c-0.6,0.6-0.6,1.5,0,2.1				l0,0C23.5,23,24.5,23,25.1,22.4z'/>		</g>	</g></g></svg>");
  background-repeat: no-repeat;
  background-size: 100%;
}


/*保险*/
.production-type-icon-4 {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  /*background: url("../img/production-type-icon-1.png") no-repeat;*/
  background-image: url("data:image/svg+xml;charset=utf-8,<svg version='1.1' id='图层_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'><g>	<path fill='#CD0005' d='M24.1,0c-0.1,0-0.2,0-0.2,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0c-0.7,0.1-1.3,0.4-1.7,1c-0.1,0.2-3.4,5.2-13,5.2		C7.9,6.2,6.7,6.2,5.3,6C5.3,6,5.2,6,5.1,6c-0.5,0-1,0.2-1.4,0.5C3.2,6.9,2.9,7.4,2.9,8C2.8,9.3,0.7,38.4,23.1,47.8		c0.3,0.1,0.6,0.2,0.9,0.2c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.3,0,0.6-0.1,0.9-0.2C47.3,38.4,45.2,9.3,45.1,8c0-0.6-0.3-1.2-0.8-1.5		C43.9,6.2,43.4,6,42.9,6c-0.1,0-0.2,0-0.3,0c-1.3,0.2-2.6,0.2-3.7,0.2c-9.5,0-12.8-4.9-13-5.2C25.6,0.4,24.8,0,24.1,0L24.1,0z'/>	<g>		<g>			<path fill='#FFFFFF' d='M30.5,22.9h-13c-0.8,0-1.5-0.7-1.5-1.5v0c0-0.8,0.7-1.5,1.5-1.5h13c0.8,0,1.5,0.7,1.5,1.5v0				C32,22.2,31.3,22.9,30.5,22.9z'/>			<path fill='#FFFFFF' d='M30.5,28.9h-13c-0.8,0-1.5-0.7-1.5-1.5v0c0-0.8,0.7-1.5,1.5-1.5h13c0.8,0,1.5,0.7,1.5,1.5v0				C32,28.2,31.3,28.9,30.5,28.9z'/>			<path fill='#FFFFFF' d='M22.5,33V22c0-0.8,0.7-1.5,1.5-1.5h0c0.8,0,1.5,0.7,1.5,1.5v11c0,0.8-0.7,1.5-1.5,1.5h0				C23.2,34.5,22.5,33.8,22.5,33z'/>			<path fill='#FFFFFF' d='M22.9,22.4l-6.4-6.4c-0.6-0.6-0.6-1.5,0-2.1l0,0c0.6-0.6,1.5-0.6,2.1,0l6.4,6.4c0.6,0.6,0.6,1.5,0,2.1				l0,0C24.5,23,23.5,23,22.9,22.4z'/>			<path fill='#FFFFFF' d='M25.1,22.4l6.4-6.4c0.6-0.6,0.6-1.5,0-2.1l0,0c-0.6-0.6-1.5-0.6-2.1,0l-6.4,6.4c-0.6,0.6-0.6,1.5,0,2.1				l0,0C23.5,23,24.5,23,25.1,22.4z'/>		</g>	</g></g></svg>");
  background-repeat: no-repeat;
  background-size: 100%;
}

.production-title {
  color: #070853;
  font-weight: bold;
}

.production-type-text {
  color: #333333;
  display: block;
  margin-top: 10px;
}

.link-black {
  color:black
}
.navbar-ph {
  background-color: #070853;color: #ffffff; font-weight: bold
}
.production-description-title{
  text-align: left; color: #cccccc; padding:2px 0 2px 20px;
}
.production-description-content{
  text-align: left !important;
  color: #333333;
  padding:2px 0 2px 5px;
}
.toolbar-ph{
  border-top: 1px solid #DFE2E8;
  background: #ffffff;
}

.font-size-50 {
  font-size:50px;
}
.font-size-30 {
  font-size:30px;
}
.font-size-20 {
  font-size:20px;
}

.mine-top-bg{background-color: #070853;color: #ffffff; font-size: 15px;padding: 15px; height:200px; background: url("../img/mine_bg.jpg") no-repeat;}

.list-block-small-margin{
  margin: 2px 0;
}
.list-title-ph{
  color: #070853;
  font-size: 20px;
}
.color-white {
  color:#FFFFFF;
}
.color-black {
  color:#000000;
}
.txt-20 {
  font-size: 20px;
  color:#000000;
}
.txt-15 {
  font-size: 15px;
  color:#000000;
}
.center {
  text-align: center;
}

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}