#nav {
	background: #fafafa;
	height: 70px;
	margin: 0 auto;
}

#nav span {
	float: right;
	font-size: 18px;
	padding: 23px 0px 0px 0px;
}

#nav span a {
	text-decoration: none;
	color: black;
	padding: 0px 20px 0px 20px;
}

#nav span a:hover {
	color: #d28d2a;
}

#position {
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	font-size: 16px;
}

#position a {
	text-decoration: none;
	color: black;
}

#container {
	margin: 0 auto;
	background: #fafafa;
}

#container #title {
	height: 32px;
	font-size: 18px;
	background: url(../../img/projectDetailTitle.png);	
	border-bottom: #dcdcdc 1px solid;
	padding: 8px 0px 0px 15px;
}

#container #content {
	border-bottom: #dcdcdc 1px solid;
	padding: 30px 0px 30px 120px;
}

#container td {
	font-size: 16px;
	height: 50px;	
}

#content a {
	color: #d28d2a;
	text-decoration: none;
}

#content .customer {
	width: 300px;
	height: 32px;
	background: url(../../img/input_bankcard2.png);
	border: 0px;	
}

#content .banks {
	width: 300px;
	height: 34px;
	background: url(../../img/input_bankcard.png);
	border: 0px;
}

#content .bankCardNum {
	width: 300px;
	height: 34px;
	background: url(../../img/input_bankcard.png);
	border: 0px;
}
.btns-code {
	font-size: 15px;
	font-weight:bold;
	border:0px;
	width:120px;
	height:30px;
	color:white;
	background: #FF9000;
	border-radius: 4px;
}
#footer {
	background: #e8e8e8;
	border-top: #ff3f3f 1px solid;
	margin: 50px 0px 0px 0px;	
}

#footer #footer-content {
	height: 300px;
	margin: 0 auto;
}

#footer-content #content1, #content2 {
	width: 255px;
	height: 185px;
	padding: 30px 0px 0px 0px;	
	float: left;
}

#footer-content #content3 {
	width: 200px;
	height: 185px;
	padding: 30px 0px 0px 0px;	
	float: left;
}

#footer-content .footer-text {
	padding: 5px 0px 5px 64px;	
}

#footer-split {
	width: 3px;
	float: left;
}

#footer a {
	color: black;
	text-decoration: none;	
}

#footer #content4 {
	float: left;
	padding: 40px 0px 0px 40px;	
	text-align: center;
}

#footer #content5 {
	float: right;
	padding: 40px 0px 0px 0px;	
	text-align: center;
}

#copyright {
	float: left;
	margin: 0px 0px 20px 0px;
	text-align: center;
}

.btn {
    width: 352px;
    border: 1px solid #ff6900;
    display: inline-block;
    *display: inline;
    *zoom:1;height: 38px;
    line-height: 28px;
    color: #ff6900;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
    background-color: snow;
    display: block;
    border-radius: 4px;
}

.btn:hover {
    background-color: #ff6900;
    color: #fff;
    text-decoration: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    display: table-cell;
    width: 1%;

    vertical-align: middle;
    border-radius: 0;
}
.input-group {
    display: table;
    border-collapse: separate;
}